<div id="summary">
  <h4>Summary:</h4>
  <p>{{ object.summary }}</p>
</div>

<div id="purpose">
  {% for purpose in object.purpose.all %}
  <h4>Purpose:</h4>
  <p>{{ purpose.heading}}</p>
  <ul>
    <li>{{ purpose.isi1 }}</li>
    <li>{{ purpose.isi2 }}</li>
    <li>{{ purpose.isi3 }}</li>
  </ul>
  {% endfor %}
</div>

<div id="specification">
  <h4>Specification:</h4>
  <ul>
    <li>Category : {{ proyek.category }}</li>
    <li>Tools: {{ proyek.tools }}</li>
    <li>Method : {{ proyek.method }}</li>
  </ul>
</div>

<div id="dataset">
  {% for dataset in object.datasets.all %}
  <h4>Dataset</h4>
  <p>{{ dataset.heading }}</p>
  <ul>
    <li>{{ dataset.isi1 }} : <a href="{{ dataset.Contentisi1 }}">Link Kaggle</a></li>
    <li>{{ dataset.isi2 }} : {{ dataset.Contentisi2 }}</li>
    <li>{{ dataset.isi3 }} : {{ dataset.Contentisi3 }}</li>
    <li>{{ dataset.isi4 }} : {{ dataset.Contentisi4 }}</li>
    <li>{{ dataset.isi5 }} : {{ dataset.Contentisi5 }}</li>
  </ul>
  {% endfor %}
</div>

<div id="praprocess">
  {% for praprocess in object.praprocess.all %}
  <h4>Eksplorasi dan Praproses Data</h4>
  <p>{{ praprocess.heading}}</p>
  <ol>
    <li>{{ praprocess.isi1 }}</li>
    <p>{{ praprocess.Contentisi1 }}</p>
    <div class="code-block">
      <pre><code>
      {{praprocess.Codeisi1}}
    </code></pre>
    </div>
    <li>{{ praprocess.isi2 }}</li>
    <p>{{ praprocess.Contentisi2 }}</p>
     <div class="code-block">
      <pre><code>
      {{praprocess.Codeisi2}}
    </code></pre>
    </div> 
  </ol>
  {% endfor %}
</div>

<div id="arsitektur">
  {% for arsitektur in object.arsitektur.all %}
  <h4>Arsitektur</h4>
  <p>{{ arsitektur.heading}}</p>
  <ol>
    <li>{{ arsitektur.isi1 }}</li>
    <p>{{ arsitektur.Contentisi1 }}</p>
     <div class="code-block">
      <pre><code>
      {{arsitektur.Codeisi1}}
    </code></pre>
    </div> 
    <li>{{ arsitektur.isi2 }}</li>
    <p>{{ arsitektur.Contentisi2 }}</p>
     <div class="code-block">
      <pre><code>
      {{arsitektur.Codeisi2}}
    </code></pre>
    </div> 
    <li>{{ arsitektur.isi3 }}</li>
    <p>{{ arsitektur.Contentisi3 }}</p>
    <img src="{{ arsitektur.codeisi3.url }}" alt="model" />
    <li>{{ arsitektur.isi4 }}</li>
    <p>{{ arsitektur.Contentisi4 }}</p>
     <div class="code-block">
      <pre><code>
      {{arsitektur.Codeisi4}}
    </code></pre>
    </div> 
    <li>{{ arsitektur.isi5 }}</li>
    <p>{{ arsitektur.Contentisi5 }}</p>
     <div class="code-block">
      <pre><code>
      {{arsitektur.Codeisi5}}
    </code></pre>
    </div> 
  </ol>
  {% endfor %}
</div>

<div id="training">
  {% for train in object.training.all %}
  <h4>Pelatihan Model</h4>
  <p>{{ train.heading }}</p>
  <ul>
    <li>{{ train.isi1 }}</li>
     <div class="code-block">
      <pre><code>
      {{train.Codeisi1}}
    </code></pre>
    </div> 
    <li>{{ train.isi2 }}</li>
    <img src="{{ train.codeisi2.url }}" alt="model" />
  </ul>

  {% endfor %}
</div>

<div id="evaluation">
  {% for evaluation in object.evaluation.all %}
  <h4>Evaluasi Model</h4>
  <p>{{ evaluation.heading }}</p>
  <ul>
    <li>{{ evaluation.isi1 }}</li>
    <p>{{ evaluation.Contentisi1 }}</p>
     <div class="code-block">
      <pre><code>
      {{evaluation.Codeisi1}}
    </code></pre>
    </div> 
    <img src="{{ evaluation.Imageisi1.url }}" alt="evaluation" />


    <li>{{ evaluation.isi2 }}</li>
    <p>{{ evaluation.Contentisi2 }}</p>
     <div class="code-block">
      <pre><code>
      {{evaluation.Codeisi2}}
    </code></pre>
    </div> 
    <img src="{{ evaluation.Imageisi2.url }}" alt="evaluation" />


    <li>{{ evaluation.isi3 }}</li>
    <p>{{ evaluation.Contentisi3 }}</p>
     <div class="code-block">
      <pre><code>
      {{evaluation.Codeisi3}}
    </code></pre>
    </div> 
    <img src="{{ evaluation.Imageisi3.url }}" alt="evaluation" />

    
  </ul>
  {% endfor %}
</div>

{% for result in results %}
    <span class="{% cycle "class-a" "class-b" "class-c" "class-d"%}" > {{result}} </span> <br>
{% endfor %}

<div id="improvment">
  {% for improv in object.improvment.all %}
  <h4>Improvement</h4>
  <p>{{ improv.heading }}</p>
  <ul>
    <li>{{ improv.isi1 }}</li>
    <li>{{ improv.isi2 }}</li>
    <li>{{ improv.isi3 }}</li>
  </ul>
  {% endfor %}
</div>

<div id="conclution">
  {% for conclution in object.conclution.all %}
  <h4>Kesimpulan dan Pembelajaran</h4>
  <p>{{ conclution.heading }}</p>
  <h5>Pembelajaran</h5>
  <ol>
    <li>{{ conclution.isi1 }}</li>
    <p>{{ conclution.Contentisi1 }}</p>
    <li>{{ conclution.isi2 }}</li>
    <p>{{ conclution.Contentisi2 }}</p>
  </ol>
  {% endfor %}
</div>
