body {
  background: white;
  height: 100%;
  margin: 0;
}

.navbar {
  border-bottom: 1px solid #ccc; /* Garis bawah biasa */
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.1); /* Shadow dengan warna dan ukuran tertentu */
}

.container {
  display: flex;
  justify-content: row;
  height: 100%;
  flex-direction: column;
}

/* menu */
.container-fluid img {
  width: 65px;
  height: 65px;
  margin-right: 50px;
}
/* end menu */

/* title */
.title {
  padding: 20px 0;
}

.title img {
  float: left;
  width: 50px;
  height: 70px;
  margin-right: 20px;
}
/* end title */

/* Content */
.content {
  display: grid;
  gap: 15px;
  grid-template-columns: 6fr 2fr;
  justify-items: center;
  display: 10px solid red;
}
/* End Content */

/* Projects */
.projects {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#summary,
#purpose,
#output,
#specification,
#dataset,
#praprocess,
#arsitektur,
#training,
#evaluation,
#improvment,
#conclution {
  padding: 10px;
  border: 2px solid black;
  box-shadow: 2px 2px 2px;
}
/* End projests */
.scrollspy-example {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  height: 10000px;
  overflow: auto;
}
/* Carousel */
.carousel {
  border: 2px solid black;
}

.carousel img {
  width: 50%;
  height: 500px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  color: #fff;
  font-size: 30px;
  line-height: 50px;
}

/* End carousel */

/* Card */
.card-body {
  border: 10px solid black(255, 0, 0);
}
/* End card */

.code-block {
  background-color: #000000; /* Memberikan latar belakang abu-abu terang */
  border: 1px solid #ccc; /* Menambahkan border abu-abu tipis */
  padding: 10px; /* Menambahkan padding di sekitar elemen */
  border-radius: 15px;
  overflow-x: auto; /* Memungkinkan scroll horizontal jika konten terlalu lebar */
  width: 90%;
}

pre {
  margin: 0;
  background-color: #000000;
  color: bisque;
}
code {
  font-family: "Courier New", Courier, monospace;
  font-size: 100px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}
img {
  width: 90%;
  height: 1200px;
}

#evaluation img {
  width: 350px;
  height: 350px;
}
